<div class="container mt-4 text-center">
  <h2>Juego del Ahorcado</h2>

  <div *ngIf="cargando" class="my-4">
    <div class="spinner-border text-primary" role="status"></div>
    <p class="mt-2">Cargando palabra...</p>
  </div>

  <div *ngIf="!cargando">
    <p class="fs-4">
      <span *ngFor="let letra of letrasMostradas" class="mx-1">{{ letra }}</span>
    </p>

   <div class="mb-3">
  <span *ngFor="let letra of letrasDisponibles">
    <button class="btn m-1"
            [disabled]="letrasUsadas.includes(letra) || estado !== 'jugando'"
            [ngClass]="{
              'btn-outline-dark': !letrasUsadas.includes(letra),
              'border-success text-success': letrasUsadas.includes(letra) && palabra.includes(letra),
              'border-danger text-danger': letrasUsadas.includes(letra) && !palabra.includes(letra)
            }"
            (click)="seleccionarLetra(letra)">
      {{ letra }}
    </button>
  </span>
</div>


    <p class="text-danger" *ngIf="estado === 'perdido'">¡Perdiste! La palabra era: {{ palabra }}</p>
    <p class="text-success" *ngIf="estado === 'ganado'">🎉 ¡Ganaste! 🎉</p>
    <p *ngIf="estado === 'jugando'">Errores: {{ errores }} / {{ maxErrores }}</p>
    <pre class="text-start d-inline-block fs-6 text-monospace">
{{ dibujoAhorcado }}
</pre>

    <button class="btn btn-secondary mt-3" (click)="reiniciarJuego()">🔄 Reiniciar</button>
  </div>
</div>
