<div class="position-relative vh-100">
  <div class="position-absolute top-0 start-0 w-100 h-100"
       style="background: url('https://oyyisnrxraifeivcnpfy.supabase.co/storage/v1/object/public/images/website/login.jpg') no-repeat center center; background-size: cover;">
  </div>
  <div class="position-relative container py-4">
    <div class="text-center">
      <h2 class="d-inline-block bg-white px-4 py-2 rounded shadow text-primary">
        Nuestros Juegos
      </h2>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let juego of juegos">
        <app-card-juego
          [name]="juego.name"
          [urlPicture]="juego.urlPicture"
          [description]="juego.description">
        </app-card-juego>
      </div>
    </div>
  </div>
</div>
