:host {
    display: block;
    height: 100vh;
    background: url('https://oyyisnrxraifeivcnpfy.supabase.co/storage/v1/object/public/images/website/login.jpg') no-repeat center center;
    background-size: cover;
  }
  