<div class="position-relative vh-100">
    
    <div class="position-absolute top-0 start-0 w-100 h-100"
         style="background: url('https://oyyisnrxraifeivcnpfy.supabase.co/storage/v1/object/public/images/website/login.jpg') no-repeat center center; background-size: cover;">
    </div>
  
   
    <div class="position-relative d-flex justify-content-center align-items-center vh-100">
      <div class="card p-4 shadow-lg text-center" style="max-width: 600px; width: 100%;">
      
        <img src="https://oyyisnrxraifeivcnpfy.supabase.co/storage/v1/object/public/images/website/pfp.png"
             alt="Foto del alumno"
             class="rounded-circle shadow mb-3 mx-auto"
             style="width: 120px; height: 120px; object-fit: cover;">
  
        <h4 class="text-primary mb-1">Mauro Mieres</h4>
        <p class="mb-0">Edad: 26 años</p>
        <p class="text-muted">Carrera: Tecnicatura en Programación - UTN Avellaneda</p>
  
        <div class="card bg-light mt-3 text-start">
          <div class="card-body">
            <h6 class="text-primary">Sobre mi juego</h6>
            <p class="mb-0">
              Cargando ...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  